
/* REI Colors */

.rei-color-blue {
    color: #004e99;
}
.rei-color-gold {
    color: #fdb415;
}
.rei-color-orange {
    color: #f57f29;
}
.rei-color-teal {
    color: #00a2c5;
}
.rei-color-dark-teal {
    color: #007fa4;
}
.rei-color-red {
    color: #ed1944;
}
.rei-color-purple {
    color: #604099;
}
.rei-color-lt-green {
    color: #82c341;
}
.rei-color-yellow {
    color: #ffd600;
}
.rei-color-dk-green {
    color: #539535;
}
.rei-color-lt-gray{
    color: #e3e1dc;
}
.rei-color-dk-gray {
    color: #5f636a;
}

